@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

h1 {
  text-align: center;
}

* {
  font-family: "Sunflower", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
